[Unit]
Description=WPA Supplicant daemon
Before=network.target
Requires=sys-subsystem-net-devices-%I.device
After=syslog.target
After=sys-subsystem-net-devices-%I.device

[Service]
Type=simple
ExecStart=/usr/sbin/wpa_supplicant -u -f /var/log/wpa_supplicant-wlp1s0.log -c /etc/wpa_supplicant/wpa_supplicant-%I.conf -i%I

[Install]
WantedBy=multi-user.target

