# This file is a part of Dotfiles project
#
# Copyright (C) 2013-2024, Alexander Kurbatov <sir.alkurbatov@yandex.ru>
#
# Dotfiles is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Dotfiles is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

# Purprose:
# git configuration.
#
# Inspired by many great articales, e.g:
# https://blog.gitbutler.com/git-tips-1-theres-a-git-config-for-that/
# https://habr.com/ru/articles/796119/

[core]
	autocrlf = input
	editor = emacs -nw -no-splash
	excludesfile = ~/.gitignore
[fetch]
	prune = true
	fsckobjects = true
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
[alias]
	db = !sh -c \"git branch -d ${1} && git push origin :${1}\" -
	dt = !sh -c \"git tag -d ${1} && git push origin :${1}\" -
	# NOTE (alkurbatov): Declined pull requests couldn't be fetched from Bitbucket.
	gpr = !sh -c \"git fetch upstream pull-requests/${1}/from:pr/${1} && git checkout pr/${1}\" -
	sync = !sh -c \"git fetch upstream && git checkout master && git merge upstream/master\" -
	authors = shortlog --all -sne
	commits-by = !sh -c \"git log --all --author='${1}'\" -
[diff]
	algorithm = histogram
	tool = difftastic
	submodule = log
[commit]
	# NOTE (alkurbatov): To generate a key do:
	# $ gpg --list-keys
	# $ gpg --gen-key
	# $ gpg --list-secret-keys --keyid-format LONG
	# The ID could be found in the very first string:
	# sec rsa2048/<keyID> 2019-12-26
	#
	# $ git config --global user.signingkey <keyID>
	#
	# To export a key in ASCII format e.g. for Github do:
	# $ gpg --armor --export <keyID>
	# gpgsign = true
[difftool]
	prompt = false
[rebase]
	autoStash = true
	updateRefs = true
[rerere]
	enabled = true
	autoUpdate = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/work/src/github.com/"]
	path = ~/.gitconfig-oss
[includeIf "gitdir:~/work/src/gitverse.ru/"]
	path = ~/.gitconfig-oss
[branch]
	sort = -committerdate
[merge]
	conflictStyle = zdiff3
[transfer]
	fsckobjects = true
[receive]
	fsckObjects = true
[status]
	submoduleSummary = true
[submodule]
	recurse = true
[init]
	defaultBranch = main
