# This file is a part of Dotfiles project
#
# Copyright (C) 2018, Alexander Kurbatov <sir.alkurbatov@yandex.ru>
#
# Dotfiles is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Dotfiles is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

# Purprose:
# git configuration.

[user]
	name = Alexander Kurbatov
	email = alkurbatov@virtuozzo.com
[core]
	editor = vim
[pull]
	rebase = true
[push]
	default = simple
[alias]
	db = !sh -c \"git branch -d ${1} && git push origin :${1}\" -
	# NOTE (alkurbatov) Declined pull requests couldn't be fetched
	# from Bitbucket.
	gpr = !sh -c \"git fetch upstream pull-requests/${1}/from:pr/${1} && git checkout pr/${1}\" -
	sync = !sh -c \"git fetch upstream && git checkout master && git merge upstream/master\" -
[commit]
	# NOTE (alkurbatov): To generate a key do:
	# $ gpg --list-keys
	# $ gpg --gen-key
	# $ git config --global user.signingkey <the generated key>
	gpgsign = true
