[Unit]
Description=RethinkDB service
After=syslog.target network.target systemd-modules-load.service
Wants=systemd-modules-load.service

[Service]
Type=simple
User=rethinkdb
Group=rethinkdb
ExecStart=/usr/bin/rethinkdb serve --config-file /etc/rethinkdb/ap-ui.conf
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
